body {
  margin: 0;
  font-family: consolas;
}

/* Color Combinations */
/* #fae5df #f5cac2 #ed7966 #303179 #141850 */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

header .title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 20px;
  font-family: consolas;
}

header .title .first-name {
  color: #303179;
}

header .title .last-name {
  color: #ed7966;
}

.body {
  min-height: 500px;
  margin-top: 150px;
}

.body .container-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body .container-about .about-section {
  flex: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 400px;
  color: #ed7966;
  background-color: #303179;
}

.body .container-about .about-section .title {
  padding: 25px;
  font-size: 30px;
}

.body .container-about .contact-section {
  flex: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 400px;
  color: #141850;
  background-color: #f5cac2;
}

.body .container-about .contact-section code {
  padding: 25px;
  font-size: 30px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 150px;
  width: 100%;
  background-color: #141850;
}

footer .title {
  display: flex;
  justify-content: center;
  color: #ed7966;
  font-size: 40px;
  padding: 10px;
  font-family: consolas;
}

footer .connect-with {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

footer .connect-with a {
  height: 40px;
  width: 40px;
  padding: 10px;
}

/* common styles */

a {
  color: #141850;
}

/* Responsive view styles */

@media only screen and (max-width: 600px) {
  header .title {
    font-size: 25px;
    align-items: center;
    justify-content: center;
  }

  .body {
    margin-top: 100px;
  }

  .body .container-about {
    flex-flow: column;
  }

  .body .container-about .about-section .title {
    padding: 15px;
    font-size: 17px;
  }

  .body .container-about .contact-section code {
    padding: 15px;
    font-size: 17px;
  }
}
